[Config]
# Redis健康检查定时器，单位秒
RedisHealthCheckTimer = 2
# 开启心跳
HeartBeat = false
#超过该时间未收到数据，认为网络断开
HBTimer = 10 
# 心跳包发送间隔
HBTicker = 4

# 开发调试模式(服务器panic错误会发往客户端)
Debug = 1

[Log]
# 日志文件存放的文件夹
LogDir = "../log/"
# 日志文件名为空则用可执行文件名
LogFileName = ""
# 日志配置文件
LogConfig = "../res/config/logConfig.xml"


#底层App用到的配置
[ServerApp]
#实际部署生产环境时,此处ip需要实际的局域网ip
ListenAddr = "127.0.0.1:17010"
SvrMaxConn = 10000
IsEncrypt = false
#性能监控http端口
pprof-port = 58080
#加载的服务, 多个service用逗号隔开，服务名与下面的标签必须一致
Services = "gateway, team"
#不会连接的服务,一对用冒号隔开，多对之间用逗号分隔
NotConnect = "serviceA:serviceB"


[gateway]
#:号之前不需要填，默认监听即可
SvrListenAddr = ":17000"
#外网ip,根据实际生产情况填写
OuterIP="127.0.0.1"
VerifyMsgID = 0
# TickInterval 单位毫秒
TickInterval = 1000 
EntityMultiThread = true

[team]
EntityMultiThread = false


[DB]
#服务发现用的db
Addr = "127.0.0.1:6379"
MaxIdle = 50
IdleTimeout = 10
MaxActive = 500
Password = ""
Index = 1

[RedisForServer]
Addr = "127.0.0.1:6379"
MaxIdle = 50
IdleTimeout = 10
MaxActive = 500
Password = ""
Index = 0


[DataDB]
#游戏数据存储用的db
DBType = "mysql"
#实体是否自动加载保存数据库
IsAutoLoadSave = true
GameDBName = "game"
Addr = "root:123456@tcp(10.23.25.22:3306)/test_db?charset=utf8&parseTime=True&loc=Local"
#Addr = "mongodb://mail:Zwp0K4h4zAjZQwkzdOH6fWIdPA6xieXmQpps@211.159.201.75:27017,211.159.201.76:27017/testM"
#Addr = "mongodb://127.0.0.1:27017"
Timeout = 5
# 数据库连接空闲最大时间(单位小时)
MaxIdleTime = 1
# 数据库连接
MaxIdleConn = 20
MaxOpenConn = 200